.footer {
    color: #D4D4D4;
    margin-bottom: 80px;
    padding-top: 20px;
}

.github-corner {
    position: fixed;
    top: 0;
    right: 0;
    color: #FAFAFA;
}

.inner {
    padding: 10px;
}

.quick-start {
    width: 100%;
    height: 300px;
    border: 2px solid #E7E9EC;
}

.horizontal {
    width: 100%;
    height: 300px;
    border: 2px solid #E7E9EC;
}

.auto-hide {
    width: 100%;
    height: 300px;
    border: 2px solid #E7E9EC;
    .inner {
        width: 1200px;
    }
}

.custom-styles {
    width: 100%;
    height: 300px;
    border: 2px solid #E7E9EC;
}

.example-vertical-track {
    background-color: transparent;
    width: 10px;
    transition: opacity 0.3s;
}

.example-horizontal-track {
    background-color: transparent;
    height: 10px;
    transition: opacity 0.3s;
}

.example-vertical-handler {
    width: 8px;
    right: 1px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s;
    &:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }
}

.example-horizontal-handler {
    height: 8px;
    bottom: 1px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s;
    &:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }
}
